<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Todo</title>
</head>
<body>
<section layout:fragment="content">
    <p>
    <h2>The List of Todos</h2>

    <div th:each="detail : ${todos}">
        <a th:href="@{'/todos/show/' + ${detail.id}}"><span th:text="${detail.id}"></span></a>
        <span th:text="${detail.title}">title</span>
        <span th:text="${detail.description}">description</span>
    </div>
    <div>
        <a th:href="@{'/todos/input'}">New Todo</a>
    </div>
    </p>
</section>
</body>
</html>